div.bg{
    background-color: black;
}

form.addeventForm{
    clear: both;
    padding: 50px;

     input{
         border: none;
         border-bottom: solid 1px @color-base;
         width: 100%;
         clear: both;
         padding-top: 25px;
        }
        
      
}

div.backBtn{
        display: flex;
            input.submitEvent{
                padding-top: none !important;
                margin-top: 25px;
                background: @color-base;
                height: 25px;
                width: 50%;
                border-radius: 3px;
                border: none;
                color: white; 
                font-size: 12px;
                font-weight: 300;
                -webkit-appearance: none;
                -moz-appearance:none;
                appearance:none;
                text-align:center;
                float: left;

            }
            a.backBtn{
                margin-top: 25px;
                background: @color-base !important;
                height: 25px;
                width: 50%;
                border-radius: 3px;
                border: none;
                color: white;
                font-family: @font-base;
                font-size: 12px;
                font-weight: 300;
                text-align:center;
                padding: 8px 20px;
                float: left;
        }
    }